.header{
    height: 100px !important;
    width: 100%;
    background: #007788;
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;

}

.select{
    height: 35px;
    width: 100%;
}

.reg{
    height: 500px;
    width: 100%;
    background: #E0F2BE;
    float: right;
    padding-top: 30px ;
    padding-right: 50px;
}
.user_d{
    padding-left: 80px !important;
}
